body {
margin : 0;
background-color : black;
}
h1, h2, h3, h4, h5, h6, p, blockquote, li, ul, ol {
color : white;
}
h1, h2, h3, h4, h5, h6 {
font-family : 'Lobster', cursive;
}
p, li, a {
font-family : 'Roboto', sans-serif;
}
.spacer {
margin-bottom : 55px;
clear: both;
}
button {
border : none;
outline : 0;
display : inline-block;
padding : 8px;
color : white;
background-color : #000;
text-align : center;
cursor : pointer;
font-size : 18px;
border-radius : 15px;
transition : background-color 1.6s ease-in-out;
}
button a:hover {
background-color : black;
}
button:hover {
background-color : green;
transition : 1.6s;
}
ol {
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }

.Integrated {
color : green;
}
.Not-Integrated {
color : red;
}
.navbar {
overflow : hidden;
background-color : #333;
position : fixed;
top : 0;
width : 100%;
}
.Goals {
   list-style-type: none;
   float: left;
   padding-left: 1%;
   margin-left: auto;
   margin-right: auto;
      width: 45%;

}
.Features {
   list-style-type: none;
   float: left;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.Coming-Soon {
   list-style-type: none;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
.navbar a {
float : left;
display : block;
color : #f2f2f2;
text-align : center;
padding : 14px 16px;
text-decoration : none;
font-size : 17px;
transition : background-color 0.6s ease-in-out;
}
.navbar a:hover {
background-color : red;
transition : background-color 0.6s ease-in-out;
}
.main {
padding : 16px;
margin-top : 30px;
}
.Quote {
background-image: url("pexels-photo-614117.jpeg");
/* https://www.pexels.com/photo/abstract-achievement-bright-business-614117/ */
height : 500px;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
}
