body {
margin : 0;
background-color : rgb(0, 0, 0);
}
h1, h2, h3, h4, h5, h6, p, blockquote, li, ul, ol {
color : rgb(255, 255, 255);
}
h1, h2, h3, h4, h5, h6 {
font-family : 'Lobster', cursive;
}
p, li, a {
font-family : 'Roboto', sans-serif;
}
.spacer {
margin-bottom : 55px;
clear: both;
}
#loader {
    background-image: rgb(0, 0, 0);
     background-image: -webkit-linear-gradient(top, #525252 0%,#000000 100%);
     background-image: -moz-linear-gradient(top, #525252 0%,#000000 100%);
     background-image: -o-linear-gradient(top, #525252 0%,#000000 100%);
     background-image: -ms-linear-gradient(top, #525252 0%,#000000 100%);
     background-image: linear-gradient(top, #525252 0%,#000000 100%);
     color: rgb(255, 255, 255);
     border-radius: 4px;
     padding: 4px;
     padding-left:100px;
   padding-right:100px;
   padding-top:20px;
   padding-bottom:20px;
     display: inline-block;
     -webkit-box-shadow: 0 0 5px red;
     box-shadow: 0 0 5px red;
     
     -moz-animation-name: glow;
     -moz-animation-duration: 2.5s;
     -moz-animation-iteration-count: infinite;
     -moz-animation-timing-function: linear;
     -moz-animation-direction: alternate;
 
     -webkit-animation-name: glow;
     -webkit-animation-duration: 2.5s;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
     -webkit-animation-direction: alternate;
 }
 #loader a {
     color: white;
    text-decoration-style: none;
    text-decoration: none;
 }
 @-moz-keyframes glow {
     from { box-shadow: 0 0 35px blue; }
     to   { box-shadow: 0 0 60px rgb(0, 255, 0);}
 }
 @-webkit-keyframes glow {
     from { -webkit-box-shadow: 0 0 35px blue; }
     to   { -webkit-box-shadow: 0 0 60px rgb(0, 255, 0); }
 }
ol {
    counter-reset: item;
    list-style-type: none;
}
li { display: block; }

.Integrated {
color : green;
}
.Not-Integrated {
color : red;
}
.navbar {
overflow : hidden;
background-image: rgb(0, 0, 0);
background-image: -webkit-linear-gradient(top, #525252 0%,#000000 100%);
background-image: -moz-linear-gradient(top, #525252 0%,#000000 100%);
background-image: -o-linear-gradient(top, #525252 0%,#000000 100%);
background-image: -ms-linear-gradient(top, #525252 0%,#000000 100%);
background-image: linear-gradient(top, #525252 0%,#000000 100%);
position : fixed;
top : 0;
width : 100%;
}
.Goals {
   list-style-type: none;
   float: left;
   padding-left: 1%;
   margin-left: auto;
   margin-right: auto;
      width: 45%;

}
.Features {
   list-style-type: none;
   float: left;
   margin-left: auto;
   margin-right: auto;
   width: 45%;
}
.Coming-Soon {
   list-style-type: none;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}
.navbar a {
float : left;
display : block;
color : #f2f2f2;
text-align : center;
padding : 14px 16px;
text-decoration : none;
font-size : 17px;
transition : background-color 0.6s ease-in-out;
}
.navbar a:hover {
background-color : rgb(0, 0, 255);
transition : background-color 0.6s ease-in-out;
}
.main {
padding : 16px;
margin-top : 30px;
}
.Quote {
background-image: url("pexels-photo-614117.jpeg");
/* https://www.pexels.com/photo/abstract-achievement-bright-business-614117/ */
height : 500px;
background-attachment : fixed;
background-position : center;
background-repeat : no-repeat;
background-size : cover;
}
